body {
	margin-left: 200px;
	margin-right: 200px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
	text-align: center;
	font-size: 35px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


.header {
  height: 60px;
  border-bottom: 3px solid #000000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

ul {
  list-style-type: none;
}

.header h1 {
  font-size: 35px;
}

.nav li {
  display: inline-block;
  padding-left: 20px;
  font-size: 20px;
}


ul.nobul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 3px 0px
}

a:link {
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.nav a:link {
    text-decoration: none;
    color: black;
}

.nav a:visited {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    text-decoration: underline;
    color: black;
}

.nav a:active {
    text-decoration: underline;
    color: black;
}

div.foot{
	margin-top: 2em;
	border-top: thin solid black;
}


